.Dictionary section {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 13px 30px;
    border-radius: 18px;
    margin: 20px 0;
}

.Dictionary h1 {
    font-size: 28px;
    margin: 5px 0px;
}

.Dictionary input {
    width: 100%;
    padding: 4px 4px;
    border: 1px solid #b9b2b2;
    border-radius: 6px;
    margin: 15px auto;
    opacity: 0.7;
}

.Dictionary .hint{
    font-size: 14px;
}

@media(max-width:500px){
    .Dictionary h1{
        font-size: 25px;
    }
}